@tailwind base;

/* Write your own custom base styles here */
body {
  /* @apply bg-gray-800; */
  background-image: linear-gradient(to bottom, var(--gradient-color-stops));
  --gradient-from-color: #1c0028;
  --gradient-to-color: #2f0143;
  --gradient-color-stops: var(--gradient-from-color) 45%, var(--gradient-to-color) 75%;
  min-height: 100vh;
}
h1,
h2,
h3,
h4 {
  @apply text-white;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.button {
  @apply px-4 py-2 font-bold border rounded rounded-full cursor-pointer text-cyan border-cyan;
  filter: drop-shadow(0px 0px 5px cyan);
}
.button:hover {
  filter: drop-shadow(0px 0px 10px cyan);
  @apply bg-black bg-opacity-25;
}

.button.cursor-wait:hover {
  box-shadow: none;
}

.btn-red {
  @apply inline-flex justify-center w-full px-4 py-2 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-red-600 border border-transparent rounded-md shadow-sm;
}
.btn-red:hover {
  @apply bg-red-500;
}
.btn-red:focus {
  @apply border-red-700 outline-none;
}

.box {
  @apply transition-shadow;
}
.box.isSelected {
  filter: drop-shadow(0px 0px 10px cyan);
  @apply transition-shadow animate-pulse;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@keyframes shine {
  0% {
    transform: rotate(0) scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(720deg) scale(0.5);
    opacity: 0.5;
  }
}
